@model LoggedUserInfo;

@{
    ViewData["Title"] = "Hệ thống demo | VueJS 2 in .Net 7";
}


<div id="app">
</div>
@section scripts {
    <script>

        var userName = '@Html.Raw(Model.UserName)';
        var userId = '@Html.Raw(Model.UserId)';
        var accessToken = '@Html.Raw(Model.AccessToken)';
    </script>

    <script src="/dist/vendor.js" asp-append-version="true"></script>
    <script src="/dist/main.js" asp-append-version="true"></script>
}