.Vue-Toastification__progress-bar {
    height: 2px !important;
}

.Vue-Toastification__toast {
    padding: 5px 5px !important;
    border-radius: 4px !important;
    min-height: 36px !important;
    align-items: center;
}

.Vue-Toastification__toast-body {
    font-size: 13px !important;
    line-height: unset !important;
}

.Vue-Toastification__close-button {
    display: none !important;
}

.Vue-Toastification__icon {
    margin: auto 8px auto 6px !important;
    width: 11px !important;
}

.fs-8 {
    font-size: 8px;
}

.me-2px {
    margin-right: 2px;
}

.mx-datepicker {
    width: 100% !important;
}

    .mx-datepicker .mx-input {
        padding: 0.55rem 0.9rem;
        height: unset !important;
        box-shadow: unset !important;
        font-size: .8125rem !important;
        border: 1px solid #ced4da;
    }

        .mx-datepicker .mx-input:focus {
            color: var(--vz-body-color);
            background-color: var(--vz-input-bg);
            border-color: var(--vz-input-focus-border);
            outline: 0;
            -webkit-box-shadow: 0 0 0 0 rgb(75 56 179 / 25%);
            box-shadow: 0 0 0 0 rgb(75 56 179 / 25%);
        }

        .mx-datepicker .mx-input:hover, .mx-input:focus {
            border: 1px solid var(--vz-input-border) !important;
        }

.mx-datepicker-sidebar {
    float: unset !important;
    width: 100% !important;
    background-color: #299cdb;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

    .mx-datepicker-sidebar .mx-btn-shortcut {
        display: inline !important;
        color: #fff;
        font-size: 12px;
    }

    .mx-datepicker-sidebar + .mx-datepicker-content {
        margin-left: unset !important;
        border-left: 0 !important;
    }

.mx-datepicker-popup {
    border-radius: 4px;
}

    .mx-datepicker-popup .mx-calendar-content .cell.active {
        background-color: #299cdb !important;
    }

    .mx-datepicker-popup .mx-btn:hover {
        color: #212529 !important;
    }

.multiselect .multiselect__tags {
    padding: 0.5rem 0.9rem 0 0.5rem;
    min-height: 37px !important;
    box-shadow: unset !important;
    font-size: .8125rem !important;
    border: 1px solid #ced4da;
}

.multiselect__placeholder {
    color: #7b848e !important;
    padding-top: 0 !important;
}

.multiselect__placeholder, .multiselect__input, .multiselect__single {
    margin-bottom: 0 !important;
}

.multiselect__input {
    padding: 0 !important;
}

.multiselect, .multiselect__input, .multiselect__single {
    font-size: .8125rem !important;
}

.multiselect {
    min-height: unset !important;
}

.multiselect__tag {
    padding: 2px 26px 2px 10px !important;
}

.multiselect__tag-icon {
    line-height: 16px !important;
}

.multiselect__tags {
    min-height: unset !important;
    border-radius: 4px !important;
}

.multiselect__select {
    display: none !important;
    /*width: 36px;*/
    /*padding: 9px 8px !important;*/
    height: 100% !important;
    right: 1px;
    top: 0 !important;
}

.table-card td:last-child, .table-card th:last-child {
    padding: .75rem .6rem !important;
}

.table-card td:first-child, .table-card th:first-child {
    padding: .75rem .6rem !important;
}

.table th {
    vertical-align: middle;
}

.timeline-2-mini.timeline-2::after {
    background: #ced4da !important;
}

.v-select .vs__actions .vs__open-indicator {
    display: none !important;
}

.v-select .vs__selected-options .vs__search {
    color: #aaa !important;
    font-size: 0.775rem !important;
}

.vs__selected-options {
    display: flex;
    flex-wrap: nowrap !important;
}

.v-select.form-control.vs--single.vs--searchable {
    padding: 0 !important;
    border: 0 !important;
}

    .v-select.form-control.vs--single.vs--searchable .vs__dropdown-toggle {
        padding: 0 !important;
        border: 1px solid var(--vz-input-border) !important;
    }

    .v-select.form-control.vs--single.vs--searchable .vs__search {
        padding: .5rem .9rem !important;
        margin: 0 !important;
    }

    .v-select.form-control.vs--single.vs--searchable .vs__selected {
        padding: .45rem .9rem !important;
        margin: 0 !important;
    }

    .v-select.form-control.vs--single.vs--searchable .vs__actions {
        padding: 0 !important;
    }

    .v-select.form-control.vs--single.vs--searchable .vs__spinner {
        border: 0.3em solid hsla(0,0%,39%,.1);
        height: 4em !important;
        width: 4em !important;
        margin-right: 5px;
    }

.v-select.form-control.vs--multiple.vs--searchable {
    padding: 0 !important;
    border: 0 !important;
}

    .v-select.form-control.vs--multiple.vs--searchable .vs__dropdown-toggle {
        padding: 0 !important;
        border: 1px solid var(--vz-input-border) !important;
    }

    .v-select.form-control.vs--multiple.vs--searchable .vs__search {
        padding: .5rem .9rem !important;
        margin: 0 !important;
    }

    .v-select.form-control.vs--multiple.vs--searchable .vs__selected {
        margin: 7px 2px 7px !important;
    }

    .v-select.form-control.vs--multiple.vs--searchable .vs__actions {
        padding: 0 !important;
    }

    .v-select.form-control.vs--multiple.vs--searchable .vs__spinner {
        border: 0.3em solid hsla(0,0%,39%,.1);
        height: 4em !important;
        width: 4em !important;
        margin-right: 5px;
    }

.step-arrow-nav-white .nav .nav-link.active {
    background-color: #fff !important;
}

    .step-arrow-nav-white .nav .nav-link.active::before {
        border-left-color: #ffffff !important;
    }

.step-arrow-nav-white .nav .nav-link::before {
    right: -12px !important;
}

.step-arrow-nav-white .nav {
    background-color: #f2f2f7;
}